{% extends 'mystudy_app/schedule/base_schedule.html' %}
{% load static %}
{% load mystudy_tags %}

{% block content %}
    <div class="narrow-content">
        <div id="week-slider" class="week-slider" data-week-start="{{ week_start|date:"c" }}"
        data-week-end="{{ week_end|date:"c" }}">
            <div id="left-arrow" class="week-slider__btn">
                <img src="{% static 'mystudy_app/images/icons/left_arrow.svg' %}" alt="">
            </div>
            <div class="week-slider__text">{{ week_start|date:"d.m.Y" }} - {{ week_end|date:"d.m.Y"  }}</div>
            <div id="right-arrow" class="week-slider__btn">
                <img src="{% static 'mystudy_app/images/icons/right_arrow.svg' %}" alt="">
            </div>
        </div>
        <div class="schedule">
            <div class="schedule-table">
                <div class="node node_top">
                    <p>Картинка?</p>
                </div>
                <div class="node node_top">
                    <p>Понедельник</p>
                </div>
                <div class="node node_top">
                    <p>Вторник</p>
                </div>
                <div class="node node_top">
                    <p>Среда</p>
                </div>
                <div class="node node_top">
                    <p>Четверг</p>
                </div>
                <div class="node node_top">
                    <p>Пятница</p>
                </div>
                <div class="node node_top">
                    <p>Суббота</p>
                </div>
                {% for time in lesson_times %}
                    <div class="node time" data-id="{{ time.pk }}">
                        <p>{{ time.start }} - {{ time.end }}</p>
                    </div>
                    {% for j in 6|times %}
                        <div class="node data" data-row="{{ time.order|add:-1 }}" data-column="{{ j }}">
                            <p class="node__lesson"></p>
                            <p class="node__type"></p>
                            <p class="node__room"></p>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
    </div>
    </div>
    <div id="edit-lesson-popup-bg" class="base-popup-background">
        <div id="edit-lesson-popup" class="base-popup">
            <div class="base-popup__inner">
                <div id="delete-lesson" class="delete_btn">
                    <img src="{% static 'mystudy_app/images/icons/delete_icon.svg' %}" alt="">
                </div>
                <p class="edit-node-title">Занятие</p>
                <p id="week-info" class="edit-node-info"></p>
                <p id="weekday-info" class="edit-node-info"></p>
                <form id="edit-form" class="edit-node-form">
                    <label for="class-input" class="base-label">Предмет:</label>
                    <input id="class-input" type="text" name="class" placeholder="Управление проектами" class="base-input">
                    <label for="type-input" class="base-label">Вид занятия:</label>
                    <input id="type-input" type="text" name="type" placeholder="Практика" class="base-input">
                    <label for="room-input" class="base-label">Аудитория:</label>
                    <input id="room-input" type="text" name="room" placeholder="1234" class="base-input">
                    <label for="format-select" class="base-label">Формат:</label>
                    <select name="format" id="format-select" class="base-input">
                        {% for format in formats %}
                            <option value="{{ format.pk }}">{{ format.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Сохранить" class="base-btn">
                </form>
            </div>
        </div>
    </div>
    <div id="choose-action-popup-bg" class="base-popup-background">
        <div id="choose-action-popup" class="base-popup">
            <div class="base-popup__inner">
                <p class="edit-node-title">Это шаблонное занятие</p>
                <p id="week-info" class="edit-node-info">Выберите действие</p>
                <div class="buttons-row">
                    <button id="cancel-lesson-btn" class="base-btn narrow-btn">Этой пары не будет</button>
                    <button id="set-custom-lesson-btn" class="base-btn narrow-btn">Будет другая пара</button>
                    <button id="edit-template-btn" class="base-btn narrow-btn">Изменить шаблон</button>
                </div>
            </div>
        </div>
    </div>
    <div id="uncancel-lesson-popup-bg" class="base-popup-background">
        <div id="uncancel-lesson-popup" class="base-popup">
            <div class="base-popup__inner">
                <p class="edit-node-title">Это занятие было отменено</p>
                <p id="week-info" class="edit-node-info">Выберите действие</p>
                <button id="uncancel-btn" class="base-btn">Все-таки будет</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'mystudy_app/js/schedule.js' %}"></script>
{% endblock %}

