html, body{

}

select {
    border: 1px black solid;
}

.main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

input{
    border: 1px solid black;
}

/*-- HEADER START --*/
.header{
    width: 100%;
    min-height: 45px;
    background-color: #AAAAFF8F;

    display: grid;
    grid-template-columns: 15% 1fr 3fr 15%;

}

.header-nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header img {
    height: 30px;

}

.logo{
    justify-content: center;
}

.logo img{
    height: 40px;
}

.modules{
    padding: 0 20px;
    justify-content: space-around;
}

.tools{
    justify-content: flex-end;
}

.auth{
    justify-content: center;
}

.header-nav__block{
    margin: 0 6px;
}

.header-nav__block_grid{
    display: grid;

}

.module-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module-link p{
    margin-top: 2px;
    font-size: 12px;
    color: black;
    font-family: Arial;
}

.module-link img{
    height: 25px;
}

.profile-icon{

}

.exit-icon{
   height: 20px;
   width: 20px;
}

.content{
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.narrow-content{
    height: 100%;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-btn{
    min-width: 100px;
    height: 40px;
    background-color: #0024DF;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    padding: 0 5px;
    font-family: Arial;
    cursor: pointer;
}

.base-btn_link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-btn_link a {
    color: white;
}

.base-label{
    font-size: 20px;
}

.base-input{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    font-size: 20px;
    padding: 0 0 0 10px;
}
.base-color-input {
    width: 80px;
    height: 40px;
}
.base-date-input {
    width: 80px;
    height: 40px;
}

/*  POPUP  */

.base-popup-background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
.base-popup-background.active{
    visibility: visible;
}
.base-popup{
    transform: scale(0);
    transition: 0.1s all;
    visibility: hidden;
    border: 2px blue solid;
    background-color: white;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.base-popup.active {
    transform: scale(1);
    transition: 0.1s all;
    visibility: visible;
}
.base-popup__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.base-popup__title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    margin: 10px 0 20px 0;
}
.base-popup__form {
    display: grid;
    grid-template-columns: 3fr 7fr;
    row-gap: 10px;
}
.base-popup__form input.base-btn{
    grid-column: span 2;
}
.base-popup__form label.base-label{
    margin: 0 20px 0 0;
    justify-self: end;
    align-self: center;
}

.base-popup__delete-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    transform: scale(1.3);
    cursor: pointer;
}


