.files {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.files-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 170px);
    grid-auto-rows: minmax(130px, auto);
    gap: 15px;
}
.file-node {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #FCFCFC;
    padding: 5px;
}
.file-node__img {
    align-self: center;

    margin: 6px 0 6px 0;
}
.file-node__info {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    margin: 0 10px 0 5px;
}
.file-node__title {
}
.file-node__title>p {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.file-node__datetime {
}
.file-node__datetime p {
    font-size: 12px;
}
.file-node__download {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 5px;
    cursor: pointer;
}
.file-node__delete {
    visibility: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 5px;
    cursor: pointer;
}
.file-node__delete img {
    height: 15px;
}
.file-node:hover .file-node__delete{
    visibility: visible;
}