/*

*/

.node{
    max-width: 180px;
    max-height: 90px;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;
    border: 1px solid black;
}
.node__lesson{
    margin: 20px 0 6px 0;
    font-size: 20px;
}
.node__type{
    margin: 0 0 8px 0;
    font-size: 12px;
}
.node__room{
    font-size: 12px;
    align-self: flex-end;
}