/*

*/
.schedule{
    width: 85%;
}
.schedule-table{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(1fr, 250px);
}
.node{
    max-width: 180px;
    max-height: 90px;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;
    border: 1px solid black;
}
.node.data{
    transform: scale(1);
    cursor: pointer;
}
.node_top{
    max-height: 45px;
}
.node__lesson{
    margin: 20px 0 6px 0;
    font-size: 20px;
}
.node__type{
    margin: 0 0 8px 0;
    font-size: 12px;
}
.node__room{
    font-size: 12px;
    align-self: flex-end;
}

.week-slider{
    display: flex;
    flex-direction:  row;

    justify-content: center;
    align-items: center;

    margin: 15px 0;
}
.week-slider__btn{
    cursor: pointer;
}
.week-slider__text{
    font-size: 20px;
    margin: 0 60px;
}

.edit-node-title{
    margin: 0 0 10px 0;
    font-size: 20px;
}
.edit-node-info{
    margin: 0 0 8px 0;
    font-size: 20px;
}
.edit-node-form{
    display: grid;
    grid-template-columns: 3fr 7fr;
    row-gap: 10px;
}
.edit-node-form input.base-btn{
    grid-column: span 2;
}
.edit-node-form label.base-label{
    margin: 0 20px 0 0;
    justify-self: end;
    align-self: center;
}
.delete_btn {
    position: absolute;
    top: 30px;
    right: 45px;
    cursor: pointer;
}
.delete_btn img{
    transform: scale(1.5);
}

.narrow-btn {
    max-width: 150px;
    height: auto;
    padding: 10px 5px;
}

.node__status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FF0000AA;

    display: flex;
    justify-content: center;
    align-items: center;
}
.node__status p{
    transform: rotate(-45deg);
    color: white;
    font-size: 22px;
    font-weight: 700;
}