{% extends 'mystudy_app/base.html' %}
{% load static %}

{% block header %}{% endblock %}

{% block content %}

<div class="auth-content">
    <div class="auth-form-container">
        <div class="auth-title">
            <div class="auth-title__content">
                <p>Вход в аккаунт</p>
            </div>
        </div>
        <form method="post">
            <div class="auth-form">
                {% csrf_token %}
                <div class="auth-form__row">
                    <img src="{% static 'mystudy_app/images/icons/user_icon.png' %}" alt="">
                    {{ form.username }}
                </div>
                <div class="auth-form__row">
                    <img src="{% static 'mystudy_app/images/icons/password_icon.png' %}" alt="">
                    {{ form.password }}
                </div>
                {% include 'mystudy_app/auth/auth_form_errors.html' %}
                <input class="auth-form__btn" type="submit" value="Войти">
            </div>
        </form>
        <div class="alt-link">
            <a href={% url 'mystudy_app:registration' %}>Забыли пароль?</a>
        </div>
        <div class="alt-link">
            <a href={% url 'mystudy_app:registration' %}>Нет аккаунта?</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
