{% load static %}
{% load mystudy_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'mystudy_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mystudy_app/css/zero.css' %}">
    {% block links %}

    {% endblock %}
</head>
<body>
<div class="container">

{% block header %}
<div class="header">
    <div class="header-nav logo">
        <a href="{% url 'mystudy_app:news' %}">
            <img src="{% static "mystudy_app/images/logo.svg" %}" alt="">
        </a>
    </div>
    <div class="header-nav modules">
        <div class="header-nav__block">
            <a href="{% url 'mystudy_app:news' %}">
                <div class="module-link">
                    <img class="" src="{% static 'mystudy_app/images/icons/nav/news.svg' %}" alt="">
                    <p>Новости</p>
                </div>
            </a>
        </div>
        <div class="header-nav__block">
            <a href="{% url 'mystudy_app:schedule' %}">
                <div class="module-link">
                    <img class="" src="{% static 'mystudy_app/images/icons/nav/schedule.svg' %}" alt="">
                    <p>Расписание</p>
                </div>
            </a>
        </div>
        <div class="header-nav__block">
            <a href="{% url 'mystudy_app:todo' %}">
                <div class="module-link">
                    <img class="" src="{% static 'mystudy_app/images/icons/nav/todo.svg' %}" alt="">
                    <p>Задачи</p>
                </div>
            </a>
        </div>
        <div class="header-nav__block">
            <a href="{% url 'mystudy_app:files' %}">
                <div class="module-link">
                    <img class="" src="{% static 'mystudy_app/images/icons/nav/files.svg' %}" alt="">
                    <p>Файлы</p>
                </div>
            </a>
        </div>
    </div>
    <div class="header-nav tools">
        {% block tools %}

        {% endblock %}
    </div>
    <div class="header-nav auth">
        <div class="header-nav__block">
            <a href="{% url 'mystudy_app:all_groups' %}">
                <img class="profile-icon" src="{% static 'mystudy_app/images/icons/nav/user.svg' %}" alt="">
            </a>
        </div>
        <div class="header-nav__block">
            <a href="{% url 'mystudy_app:logout' %}">
                <img class="exit-icon" src="{% static 'mystudy_app/images/icons/nav/exit.svg' %}" alt="">
            </a>
        </div>
    </div>
</div>
{% endblock %}
<div class="main">
    <div class="sidebar">
        {% block sidebar %}
        
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
</div>

{% block footer %}

{% endblock %}

</div>
{% csrf_token %}
<script src="{% static 'mystudy_app/js/base.js' %}"></script>
{% block scripts %}

{% endblock %}
</body>
</html>