{% extends 'mystudy_app/base.html' %}
{% load static %}
{% load mystudy_tags %}

{% block links %}
    <link rel="stylesheet" href="{% static 'mystudy_app/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'mystudy_app/css/files.css' %}">
    <link rel="stylesheet" href="{% static 'mystudy_app/css/tasks.css' %}">
{% endblock %}

{% block sidebar %}
<div class="filters-sidebar">
    <div class="filters-sidebar__title">
        <p>Фильтры</p>
    </div>
    <div class="filters-sidebar__filters-list">
        <div id="all-filter" class="filters-sidebar__filter">
            <p>Все</p>
        </div>
    </div>
    <div class="sidebar-list">
        <div id="disciplines-dropdown-toggle" class="sidebar-list__header">
            <div class="sidebar-list__title">
                <p>Предметы</p>
            </div>
            <div class="sidebar-list__buttons">
                <div id="toggle-arrow" class="sidebar-list__arrow">
                    <img src="{% static 'mystudy_app/images/icons/dropdown_arrow.svg' %}" alt="">
                </div>
            </div>
        </div>
        <div id="disciplines-dropdown" class="sidebar-list__items">
            {% for id, label in discipline_labels.items %}
                <div class="sidebar-list__item" data-id="{{ id }}">
                    <div class="sidebar-list__marker">
                        <div class="disciplines-marker" style="background-color:{{ label.color }};"></div>
                    </div>
                    <div class="sidebar-list__name">{{ label.short_name }}</div>
                    <div id="edit-task-label-btn" class="sidebar-list__edit">
                        <img src="{% static 'mystudy_app/images/icons/dots_icon.svg' %}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="narrow-content">
        <div class="files">
            <div class="filter-title">
                <div class="filter-title__title">
                    <p>Все файлы</p>
                </div>
                <div class="filter-title__add">
                    <div id="upload-file-btn" class="filter-title__add-btn">
                        <img src="{% static 'mystudy_app/images/icons/upload_icon.svg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="files-list">
            </div>
        </div>
    </div>
{% endblock %}

{% block popups %}
    <div id="edit-discipline-popup-bg" class="base-popup-background">
    <div id="edit-discipline-popup" class="base-popup">
        <div class="base-popup__inner">
            <div class="base-popup__title">
                <p>Изменить цвет</p>
            </div>
            <form id="edit-discipline-form" class="base-popup__form">
                <label for="color-input" class="base-label">Цвет:</label>
                <input id="color-input" type="color" name="color" class="base-color-input">
                <input type="submit" value="Добавить" class="base-btn">
            </form>
        </div>
    </div>
</div>
    <div id="upload-file-popup-bg" class="base-popup-background">
        <div id="upload-file-popup" class="base-popup">
            <div class="base-popup__inner">
                <div class="base-popup__title">
                    <p>Загрузить файл</p>
                </div>
                <form id="upload-file-form" class="base-popup__form">
                    <label for="discipline-select" class="base-label">Предмет:</label>
                    <select id="discipline-select" name="discipline_label_id" class="base-input">
                    <option value="0">- - -</option>
                    {% for key, item in discipline_labels.items %}
                        <option value="{{ key }}">{{ item.short_name }}</option>
                    {% endfor %}
                </select>
                    <label for="file-input" class="base-label">Файл:</label>
                    <input type="file" name="file" class="base-file-input">
                    <input type="submit" value="Загрузить" class="base-btn">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'mystudy_app/js/files.js' %}"></script>
{% endblock %}

{% block templates %}
<template id="template-node">
<div class="file-node">
    <div class="file-node__download">
        <a href="">
            <img src="{% static 'mystudy_app/images/icons/download_icon.svg'%}" alt="">
        </a>
        </div>
    <div class="file-node__delete">
            <img src="{% static 'mystudy_app/images/icons/delete_icon.svg' %}" alt="">
        </div>
    <div class="file-node__img">
        <img src="" alt="">
    </div>
    <div class="file-node__info">
            <div class="file-node__title">
                <p></p>
            </div>
            <div class="file-node__datetime">
                <p></p>
            </div>
        </div>
</div>
</template>
{% endblock %}