{% extends 'mystudy_app/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'mystudy_app/css/tasks.css' %}">
    <link rel="stylesheet" href="{% static 'mystudy_app/css/sidebar.css' %}">
{% endblock %}

{% block sidebar %}
<div class="filters-sidebar">
    <div class="filters-sidebar__title">
        <p>Фильтры</p>
    </div>
    <div class="filters-sidebar__filters-list">
        <div id="all-filter" class="filters-sidebar__filter">
            <p>Все</p>
        </div>
        <div id="today-filter" class="filters-sidebar__filter">
            <p>Сегодня</p>
        </div>
    </div>
    <div class="sidebar-list">
        <div id="disciplines-dropdown-toggle" class="sidebar-list__header">
            <div class="sidebar-list__title">
                <p>Предметы</p>
            </div>
            <div class="sidebar-list__buttons">
                <div id="toggle-arrow" class="sidebar-list__arrow">
                    <img src="{% static 'mystudy_app/images/icons/dropdown_arrow.svg' %}" alt="">
                </div>
            </div>
        </div>
        <div id="disciplines-dropdown" class="sidebar-list__items">
            {% for id, label in discipline_labels.items %}
                <div class="sidebar-list__item" data-id="{{ id }}">
                    <div class="sidebar-list__marker">
                        <div class="disciplines-marker" style="background-color:{{ label.color }};"></div>
                    </div>
                    <div class="sidebar-list__name">{{ label.short_name }}</div>
                    <div id="edit-task-label-btn" class="sidebar-list__edit">
                        <img src="{% static 'mystudy_app/images/icons/dots_icon.svg' %}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="sidebar-list">
        <div id="labels-dropdown-toggle" class="sidebar-list__header">
            <div class="sidebar-list__title">
                <p>Метки</p>
            </div>
            <div class="sidebar-list__buttons">
                <div id="toggle-arrow" class="sidebar-list__arrow">
                    <img src="{% static 'mystudy_app/images/icons/dropdown_arrow.svg' %}" alt="">
                </div>
                <div id="add-label-btn" class="sidebar-list__add">
                    <img src="{% static 'mystudy_app/images/icons/dropdown_plus.svg' %}" alt="">
                </div>
            </div>
        </div>
        <div id="labels-dropdown" class="sidebar-list__items">
            {% for label in labels %}
                <div class="sidebar-list__item" data-id="{{ label.pk }}">
                    <div class="sidebar-list__marker">
                        <div class="labels-marker" style="background-color:{{ label.color }}"></div>
                    </div>
                    <div class="sidebar-list__name">{{ label.name }}</div>
                    <div class="sidebar-list__edit">
                        <img src="{% static 'mystudy_app/images/icons/dots_icon.svg' %}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="narrow-content">
        <div class="tasks">
            <div class="filter-title">
                <div class="filter-title__title">
                    <p>Все задачи</p>
                </div>
                <div class="filter-title__add">
                    <div id="add-task-btn" class="filter-title__add-btn">
                        <img src="{% static 'mystudy_app/images/icons/big_plus_icon.svg' %}" alt="">
                    </div>
                </div>
            </div>
            <div id="tasks-list" class="tasks-list">
                {% for task in tasks %}
                    <div data-id="{{ task.id }}" class="task">
                        <div class="task__complete">
                            <img src="{% static 'mystudy_app/images/icons/check_icon.svg' %}" alt="" class="complete-check">
                            <div class="complete-circle"></div>
                        </div>
                        <div class="task__info">
                            <div class="task__title">
                                <p>
                                    {{ task.name }}
                                </p>
                            </div>
                            <div class="task__filters">
                                {% if task.deadline %}
                                    <div class="task__deadline">
                                        <p>
                                            {{ task.deadline|date:"d.m" }}
                                        </p>
                                    </div>
                                {% endif %}
                                {% if task.tasklabel %}
                                    <div class="task__label">
                                        <div class="task__marker">
                                            <div class="labels-marker" style="background-color: {{ task.tasklabel.color }}"></div>
                                        </div>
                                        <div class="task__label-text">{{ task.tasklabel.name }}</div>
                                    </div>
                                {% endif %}
                                {% if task.discipline_label %}
                                    <div class="task__discipline">
                                        <div class="task__marker">
                                            <div class="disciplines-marker" style="background-color: {{ task.discipline_label.color }}"></div>
                                        </div>
                                        <div class="task__label-text">{{ task.discipline_label.discipline.short_name }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="task__edit-block">
                            <div class="task__edit">
                                <img src="{% static 'mystudy_app/images/icons/dots_icon.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block popups %}
<div id="add-label-popup-bg" class="base-popup-background">
    <div id="add-label-popup" class="base-popup">
        <div class="base-popup__inner">
            <div class="base-popup__title">
                <p>Добавить метку</p>
            </div>
            <form id="add-label-form" class="base-popup__form">
                <label for="name-input" class="base-label">Имя метки:</label>
                <input id="name-input" type="text" name="name" placeholder="Личное" class="base-input">
                <label for="color-input" class="base-label">Цвет:</label>
                <input id="color-input" type="color" name="color" class="base-color-input">
                <input type="submit" value="Добавить" class="base-btn">
            </form>
        </div>
    </div>
</div>

<div id="edit-label-popup-bg" class="base-popup-background">
    <div id="edit-label-popup" class="base-popup">
        <div id="delete-label-btn" class="base-popup__delete-btn">
            <img src="{% static 'mystudy_app/images/icons/delete_icon.svg' %}" alt="">
        </div>
        <div class="base-popup__inner">
            <div class="base-popup__title">
                <p>Изменить метку</p>
            </div>
            <form id="edit-label-form" class="base-popup__form">
                <label for="name-input" class="base-label">Имя метки:</label>
                <input id="name-input" type="text" name="name" placeholder="Личное" class="base-input">
                <label for="color-input" class="base-label">Цвет:</label>
                <input id="color-input" type="color" name="color" class="base-color-input">
                <input type="submit" value="Сохранить" class="base-btn">
            </form>
        </div>
    </div>
</div>

<div id="edit-discipline-popup-bg" class="base-popup-background">
    <div id="edit-discipline-popup" class="base-popup">
        <div class="base-popup__inner">
            <div class="base-popup__title">
                <p>Изменить цвет</p>
            </div>
            <form id="edit-discipline-form" class="base-popup__form">
                <label for="color-input" class="base-label">Цвет:</label>
                <input id="color-input" type="color" name="color" class="base-color-input">
                <input type="submit" value="Добавить" class="base-btn">
            </form>
        </div>
    </div>
</div>

<div id="edit-task-popup-bg" class="base-popup-background">
    <div id="edit-task-popup" class="base-popup">
        <div id="delete-task-btn" class="base-popup__delete-btn">
            <img src="{% static 'mystudy_app/images/icons/delete_icon.svg' %}" alt="">
        </div>
        <div class="base-popup__inner">
            <div class="base-popup__title">
                <p>Изменить задачу</p>
            </div>
            <form id="edit-task-form" class="base-popup__form">
                <label for="name-input" class="base-label">Название:</label>
                <input id="name-input" type="text" name="name" placeholder="Сделать..." class="base-input">
                <label for="label-select" class="base-label">Метка:</label>
                <select id="label-select" name="custom_label_id" class="base-input">
                    <option value="0">- - -</option>
                    {% for label in labels %}
                        <option value="{{ label.pk }}">{{ label.name }}</option>
                    {% endfor %}
                </select>
                <label for="discipline-select" class="base-label">Предмет:</label>
                <select id="discipline-select" name="discipline_label_id" class="base-input">
                    <option value="0">- - -</option>
                    {% for key, item in discipline_labels.items %}
                        <option value="{{ key }}">{{ item.short_name }}</option>
                    {% endfor %}
                </select>
                <label for="date-input" class="base-label">Дедлайн:</label>
                <input id="date-input" type="date" name="deadline" class="base-input">
                <input type="submit" value="Сохранить" class="base-btn">
            </form>
        </div>
    </div>
</div>

<div id="add-task-popup-bg" class="base-popup-background">
    <div id="add-task-popup" class="base-popup">
        <div class="base-popup__inner">
            <div class="base-popup__title">
                <p>Добавить задачу</p>
            </div>
            <form id="add-task-form" class="base-popup__form">
                <label for="name-input" class="base-label">Название:</label>
                <input id="name-input" type="text" name="name" placeholder="Сделать..." class="base-input">
                <label for="label-select" class="base-label">Метка:</label>
                <select id="label-select" name="custom_label_id" class="base-input">
                    <option value="0">- - -</option>
                    {% for label in labels %}
                        <option value="{{ label.pk }}">{{ label.name }}</option>
                    {% endfor %}
                </select>
                <label for="discipline-select" class="base-label">Предмет:</label>
                <select id="discipline-select" name="discipline_label_id" class="base-input">
                    <option value="0">- - -</option>
                    {% for key, item in discipline_labels.items %}
                        <option value="{{ key }}">{{ item.short_name }}</option>
                    {% endfor %}
                </select>
                <label for="date-input" class="base-label">Дедлайн:</label>
                <input id="date-input" type="date" name="deadline" class="base-input">
                <input type="submit" value="Добавить" class="base-btn">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block templates %}
<template id="custom-label-item-template">
<div class="sidebar-list__item" data-id="">
    <div class="sidebar-list__marker">
        <div class="labels-marker"></div>
    </div>
    <div class="sidebar-list__name"></div>
    <div id="edit-custom-label-btn" class="sidebar-list__edit">
        <img src="{% static 'mystudy_app/images/icons/dots_icon.svg' %}" alt="">
    </div>
</div>
</template>

<template id="task-template">
<div class="task">
    <div class="task__complete">
        <img src="{% static 'mystudy_app/images/icons/check_icon.svg' %}" alt="" class="complete-check">
        <div class="complete-circle"></div>
    </div>
    <div class="task__info">
        <div class="task__title">
            <p></p>
        </div>
        <div class="task__filters">
            <div class="task__deadline">
                <p></p>
            </div>
            <div class="task__label">
                <div class="task__marker">
                    <div class="labels-marker"></div>
                </div>
                <div class="task__label-text"></div>
            </div>
            <div class="task__discipline">
                <div class="task__marker">
                    <div class="disciplines-marker"></div>
                </div>
                <div class="task__label-text"></div>
            </div>
        </div>
    </div>
    <div class="task__edit-block">
        <div class="task__edit">
            <img src="{% static 'mystudy_app/images/icons/dots_icon.svg' %}" alt="">
        </div>
    </div>
</div>
</template>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'mystudy_app/js/tasks.js' %}"></script>
{% endblock %}